* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	overflow: hidden;
	background: black;
}

main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.overlay {
	z-index: 999;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;

	/* backdrop-filter: blur(2px); */
	box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 1) inset;
}