* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	overflow: hidden;
	background: black;
}

/* Ensure p5.js canvas fits perfectly */
main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}